@import url("header.css");
@import url("about.css");
@import url("metricas.css");
@import url("vagas.css");
@import url("colaboradora.css");
@import url("footer.css");

:root {
    --fonte-principal: 'Inter';
    --cinza: #667085;
    --cinza-escuro: #3A404E;
    --bordo: #8E2424;
    --cinza-preto: #101828;
}

body {
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;
}

li {
    list-style-type: none;
}